*{
    margin: 0;
    box-sizing: border-box;
    }
.popular{
    width: 96%;
    margin: 30px auto;
    position: relative;
    top: -70px;
    box-shadow: 2px 2px 4px rgba(24, 24, 24, 0.3);
}
.popular-list{
    max-width:150px;
    min-height: 100%;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.popular-list>img{
    width: 165px;
    height: 220px;
    border-radius: 6px;

}

.youtube-trailer{
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -125%);
   z-index: 1000;
   background-color: black;
   color: white;
   border-radius: 10px;
   overflow: hidden;
}
.youtube-trailer iframe{
    width: 100%;
    height: 50%;
    transform: scale(2.3);
}
.control{
    position: relative;
    top: 45px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.control>.pause-btn{
    width: 32px;
    background-color: white;
    border: none;
    border-radius: 76%;
    cursor: pointer;
}
.control>.pause-btn >img{
    position: relative;
    right: 9px;
}
.description{
    position: relative;
    top: 50px;
    margin-left: 10px;
    color: white;
}
.description > p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.description > p >span{
    color: rgb(88, 237, 88);
    font-weight: bold;
    margin-right: 7px;
}
.genre-list{
    font-size: small;
    margin-bottom: 70px;
}
.genre-list>#dot {
    color: red; /* Set the color of the dots to red */
    font-size: 1.7em; /* Increase the size of the dots */
  }
.prev-arrow{
    position: absolute;
    z-index: 999;
    left: -25px;
    top: 90px;
    
}
.prev-arrow>button{
    background-color: transparent;
    color: white;
    border: none;
}

.next-arrow{
    position: absolute;
    z-index: 999;
    right: -25px;
    top: 90px;
    background-color: transparent;
}
.next-arrow>button{
    background-color: transparent;
    color: white;
    border: none;
}
.youtube-trailer > .player-control{
    cursor: pointer;
    position: absolute;
    top: 160px;
}